@forward 'globals';
@use 'util' as u;
@forward 'layout';

body {
    font-family: u.$font;
}

.calculator {
    --calculator-background-color: hsl(240, 29%, 6%);
    --calculator-text-color: hsl(185, 64%, 89%);

    max-width: 720px;
    height: 100vh;
    margin: 0 auto;
    overflow: auto;
	background-color: var(--calculator-background-color);
    color: var(--calculator-text-color);

    &__display {
        font-size: 2.5em;

    }

    &__keys {
    }
}