.grid {
    display: grid;
    grid-template-rows: 1.5fr 5fr;
    grid-template-columns: 1fr;
    gap: .5rem;
 
    align-items: top;
    justify-content: center;


    &__display {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto;

        align-items: end;
        justify-content: right;
    }
    &__keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    &__key {
        &--number-zero {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}